img{
    width:100%;
    height:100vh;
    object-fit:cover;
    display:block;
  }

  body{
    margin:0;
    background:black;
    max-width:500px;
    margin:auto;
    }

    html{
      scroll-behavior:smooth;
      scroll-snap-type:y mandatory;
      }
      
      .section{
      position:relative;
      scroll-snap-align:start;
      }
      
      .section img{
      width:100%;
      display:block;
      }
